<div class="row"> 
    <% @items.each do |item|%>
      <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src ="<%= item.image_url%>" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href=""><%= item.title%></a>
                </h4>
                <%= link_to "En savoir plus", item_path(item.id), class: "btn btn-dark mr:10px" %>
                <h5><%= item.price%>$</h5>
                <p class="card-text"><%= item.description%></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
    <% end %>
</div>