
<h1>hello</h1>
<% @order_items.each do |product| %>

    <h3><%= product.item.title %></h3>
    <h5><%= product.item.price %></h5>


    <%= form_for item, remote: true do |f| %>
        <%= f.hidden_field :item_id, :value => product.item.id %>
        <%= f.number_field :quantity, :value => item.quantity.to_i %>
        <%= f.submit "Update Card "%>
        <%= link_to "Remove Items", order_item_path(item), method: :delete, remote: true%>
    <% end %>
    <h2>Subtotal: <%= product.total %></h2>

<% end %>